<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title">
        <link rel="stylesheet" href="{% static 'css/Login.css' %}" media="screen" title="no title">
        <script type="text/javascript" src='{% static "js/vue1.js" %}'></script>
        <script type="text/javascript" src='{% static "js/reqwest.js" %}'></script>
        <script type="text/javascript" src='{% static "js/js.cookie.js" %}'></script>
    </head>
    <body id='app'>
        <!-- 灰色的背景 -->
        <div class="ui view">
            <!-- 中间的白色部分 -->
            <div class="ui login container">
                <form class="ui form">
                    <div class="ui text menu">
                        <div class="menu login">
                            登录
                        </div>
                        <div class="ui image close_right">
                            <img src="/static/image/close_icon2.png" alt="" />
                        </div>
                    </div>
                    <div class="ui view yellow_login"></div>
                    <div class="ui divider"></div>
                    <div class="field">
                        <input v-model='username' type="text"  placeholder="Username">
                    </div>
                    <div class="field">
                        <input v-model='password' type="password"  placeholder="Password">
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox checked">
                            <input type="checkbox" tabindex="0">
                            <label>记住我</label>
                        </div>
                        <button class="ui button forget" type="submit">
                            忘记密码？
                        </button>
                    </div>
                </form>
                <button v-on:click="LogIn" type="submit" class="ui circular right button" >
                    登录
                    <i class="chevron inverted right icon"></i>
                </button>
            </div>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    username: '',
                    password: '',
                },
                methods: {
                    LogIn: function () {
                        var self = this;
                        reqwest ({
                            url: '/api/token-auth',
                            type: 'json',
                            method: 'POST',
                            data: {
                                username: self.username,
                                password: self.password,
                            },
                            success: function (resp) {
                                console.log(resp);
                                Cookies.set('token', resp.token);
                                Cookies.set('username', self.username)
                                window.location.href="/";
                            },
                        })
                    }
                }
                
            })
        </script>
    </body>
</html>
