<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title">
        <link rel="stylesheet" href="{% static 'css/Register.css' %}" media="screen" title="no title">
        <script type='text/javascript' src="{% static 'js/vue1.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/js.cookie.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/reqwest.js' %}"></script>
    </head>
    {% verbatim %}
        <body id='app'>
            <!-- 灰色的背景 -->
            <div class="ui view">
                <!-- 中间的白色部分 -->
                <div class="ui register container">
                    <form class="ui form" method="post" action="register">
                        <div class="ui text menu">
                            <div class="menu login">
                                注册
                            </div>
                            <div class="ui image close_right">
                                <img src="/static/image/close_icon2.png" alt="" />
                            </div>
                        </div>
                        <div class="ui view yellow_login"></div>
                        <div class="ui divider"></div>
                        <div class="field">
                            <input type="text" v-model='email' name="email" placeholder="邮箱">
                        </div>
                        <div class="field">
                            <input type="text" v-model='username' name="username" placeholder="用户名">
                        </div>
                        <div class="field">
                            <input type="password" v-model='password' name="password" placeholder="密码">
                        </div>
                        <div class="field">
                            <input type="password" v-model='confirmed_password' name="confirmed_password" placeholder="重复密码">
                        </div>
                        <div class="captcha field">
                            <input type="text" v-model='captcha' class="captcha input" name="captcha">
                            <img v-bind:src="captcha_url" v-on:click='flush_captcha' v-cloak class="captcha image" alt="">
                        </div>
                    </form>
                    <button v-on:click="register" class="ui circular right button" >
                        注册
                        <i class="chevron inverted right icon"></i>
                    </button>
                </div>
            </div>
            <script>
                var vue = new Vue({
                    el: '#app',
                    data: {
                        username: '',
                        password: '',
                        email: '',
                        confirmed_password: '',
                        captcha: '',
                        captcha_url: '',
                        captcha_key: '',
                    },
                    methods: {
                        flush_captcha: function (){
                            var self = this;
                            reqwest({
                                url: '/api/new_captcha',
                                type: 'json',
                                method: 'get',
                                success: function(resp) {
                                    console.log(resp);
                                    self.captcha_url = resp.image;
                                    self.captcha_key = resp.key;
                                }
                            })
                        },
                        register: function (){
                            var self = this;
                            self.flush_captcha();
                            if (self.password == self.confirmed_password) (
                                reqwest({
                                    url: '/api/created_user',
                                    type: 'json',
                                    method: 'post',
                                    data: {
                                        'username': self.username,
                                        'password': self.password,
                                        'confirmed_password': self.confirmed_password,
                                        'email': self.email,
                                        'captcha_0': self.captcha_key,
                                        'captcha_1': self.captcha,
                                    },
                                    success: function (resp){
                                        console.log(resp);
                                        self.login();
                                    }
                                })
                            )
                        },
                        login: function (){
                            var self = this;
                            reqwest({
                                url: '/api/token-auth',
                                type: 'json',
                                method: 'post',
                                data: {
                                    'username': self.username,
                                    'password': self.password,
                                },
                                success: function (resp){
                                    console.log(resp);
                                    Cookies.set('token', resp.token)
                                    Cookies.set('username', self.username)
                                    window.location.href='/';
                                }
                            })
                        },
                    },
                    ready: function() {
                        this.flush_captcha();
                    }
                })
            </script>
        </body>
    {% endverbatim %}
    
</html>
